* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

    font-family: 'DS-Digital', sans-serif;
                                                

}
$mobile_size: 480px;
$mobile_factor: 1;
@mixin mobile {
    @media (max-width: $mobile_size) {
        @content;
    }
}

:root {
    --font-normal: 1rem; 
    --font-Desc: 1.5rem;
    --font-A: 2.25rem; 
    --font-B: 3.5rem;
    --font-C: 5rem; 
    --font-D: 7rem;
  }

@media screen and (max-width: 480px) {
    :root {
        --font-normal: 1rem; 
        --font-Desc: 1.5rem;
        --font-A: 1rem; 
        --font-B: 2rem;
        --font-C: 3rem; 
        --font-D: 4rem;
    }  
}

$whole-page: 300px;
$outline-size: 15px;

$theme_color1: #071952;
$theme_color1: linear-gradient(to left, #071952, #651919);

$theme_color2: #111111;

$outline_color1: white;
$outline_color2: #C70039;

html {
    font-size: 16px;
}

body {
    background: black;
    height: 100vh;
    color: white;
    padding: 30px;

    #panel {
        display: flex;
        flex-direction: column;
        gap:10px;
    
        padding: 10px;
        border: 0px solid white;
        border-radius: 10px; /* Adjust the value to control the corner roundness */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        background-color: $outline_color1;

        width: 100%;
        height: 100%;

        #row1 {
            background: $theme_color1;
            flex: 1;

            display: grid;
            grid-template-columns: 1fr 2fr 1fr;

            @include mobile {
                flex-direction: column;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
            }

            #team1-section {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 0px 20px;
                overflow-x: hidden;

                @include mobile {
                    padding: 0px 10px;
                }

                #team1-name, #team1-score-box, #team1-bonus {
                    margin-bottom: 10px;
                }

                #team1-name {
                    font-family: sans-serif;
                    font-style: italic;
                    font-weight: 600;
                    font-size: var(--font-B);
                    letter-spacing: 10px;
                  }
                #team1-score-box {
                    background-color: transparent;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    background-color: $theme_color2;
                    color: $outline_color2;

                    border: 3px solid $outline_color2;
                    border-radius: 10px;

                    width: 100%;
                    height: fit-content;
                    font-size: var(--font-D);
                    text-align: center;
                    position: relative;

                    button {
                        color: $outline_color2;
                        background-color: white;
                        font-size: 0.8rem;
                        font-weight: 600;

                        border: 4 solid black;
                        border-radius: 50%;
                        padding: 3px;
                    }

                    #team1-button1 {
                        position: absolute; top: 10px; right: 10px;
                    }
                    #team1-button2 {
                        position: absolute; top: 50%; right: 10px;
                        transform: translateY(-50%);
                    }
                    #team1-button3 {
                        position: absolute; bottom: 10px; right: 10px;
                        // transform: translateY(50%);
                    }
                    #team1-button4 {
                        position: absolute; top: 10px; left: 10px;
                    }
                    #team1-button5 {
                        position: absolute; top: 50%; left: 10px;
                        transform: translateY(-50%);
                    }
                    #team1-button6 {
                        position: absolute; bottom: 10px; left: 10px;
                    }

                    @include mobile {
                        min-height: 75px;
                        button {
                            background-color: black;
                            border: 0;
                        }
                        #team1-button1 {
                            position: absolute; top: 3px; right: 3px;
                        }
                        #team1-button2 {
                            position: absolute; top: 50%; right: 3px;
                            transform: translateY(-50%);
                        }
                        #team1-button3 {
                            position: absolute; bottom: 3px; right: 3px;
                            // transform: translateY(50%);
                        }
                        #team1-button4 {
                            position: absolute; top: 3px; left: 3px;
                        }
                        #team1-button5 {
                            position: absolute; top: 50%; left: 3px;
                            transform: translateY(-50%);
                        }
                        #team1-button6 {
                            position: absolute; bottom: 3px; left: 3px;
                        }
                    }
                  }
                #team1-bonus {
                    // background-color: #78C1F3;
                    width: 100%;
                    font-family: sans-serif;
                    font-size: var(--font-A);
                    font-size: 1.8rem;
                    text-align: end;

                  }
            }

            #team2-section {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 0px 20px;
                overflow-x: hidden;

                @include mobile {
                    padding: 0px 5px;
                }

                #team2-name, #team2-score-box, #team2-bonus {
                    margin-bottom: 10px;
                }

                #team2-name {
                    font-family: sans-serif;
                    font-style: italic;
                    font-weight: 600;
                    font-size: var(--font-B);
                    letter-spacing: 10px;
                  }
                #team2-score-box {
                    background-color: transparent;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    color: $outline_color2;
                    background-color: $theme_color2;
                    border: 3px solid $outline_color2;
                    border-radius: 10px;
                    width: 100%;
                    font-size: var(--font-D);
                    text-align: center;
                    position: relative;

                    button {
                        color: $outline_color2;
                        background-color: white;
                        font-size: 0.8rem;
                        font-weight: 600;

                        border: 4 solid black;
                        border-radius: 50%;
                    }

                    #team2-button1 {
                        position: absolute; top: 10px; right: 10px;
                        padding:3px;
                    }
                    #team2-button2 {
                        position: absolute; top: 50%; right: 10px;
                        transform: translateY(-50%);
                        padding:3px;
                    }
                    #team2-button3 {
                        position: absolute; bottom: 10px; right: 10px;
                        padding:3px;
                    }
                    #team2-button4 {
                        position: absolute; top: 10px; left: 10px;
                        padding:3px;
                    }
                    #team2-button5 {
                        position: absolute; top: 50%; left: 10px;
                        transform: translateY(-50%);
                        padding:3px;
                    }
                    #team2-button6 {
                        position: absolute; bottom: 10px; left: 10px;
                        padding:3px;
                    }
                  }
                #team2-bonus {
                    // background-color: #78C1F3;
                    width: 100%;
                    font-family: sans-serif;
                    font-size: var(--font-A);
                    font-size: 1.8rem;
                    text-align: start;

                  }
            }

            #center-section-row1 {
                background-color: transparent;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;

                @include mobile {
                    order: -1;
                    grid-column: span 2;
                }

                #period-span, #quarter-time-box  {
                    border: 0;
                    margin-top: 10px;
                }

                #period-span {
                    display: flex;
                    font-family: sans-serif;
                    font-style: italic;
                    font-weight: 600;
                    font-size: var(--font-A);
                    letter-spacing: 10px;

                    #period-box {
                        font-size: var(--font-A);
                        font-style: normal;
                        background-color: $theme_color2;
                        color: $outline_color2;

                        border: 3px solid $outline_color2;
                        border-radius: 10px;

                        text-align: center;
                        width: 50px;
                    }
                }

                #quarter-time-box {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    font-family: 'Orbitron';
                    font-style: normal;
                    font-size: var(--font-D);
                    letter-spacing: 20px;

                    background-color: $theme_color2;
                    color: yellow;

                    border: 3px solid $outline_color2;
                    border-radius: 10px;

                    width: 80%;
                    height: 100px;
                }

                #position-span {
                    background-color: transparent;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    width: 100%;
                    font-size: var(--font-B);
                    
                    div {
                        color: $outline_color2;
                    }

                    .hidden {visibility: hidden;}
                }
            }
        }  

        #row2 {
            background: $theme_color1;
            flex: 1;

            display: grid;
            grid-template-columns: 1fr 2fr 1fr;

            @include mobile {
                flex-direction: column;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
            }

            #shot-clock-section,#fouls1-section,#fouls2-section {
                background-color: transparent;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                font-family: sans-serif;
                font-weight: 600;
                font-size: var(--font-A);

                #shot-clock-box,#fouls1-box,#fouls2-box {
                    font-family: 'Digital-7 Mono';
                    font-style: normal;
                    font-size: var(--font-C);
                    letter-spacing: 20px;

                    background-color: $theme_color2;
                    color: green;

                    border: 3px solid $outline_color2;
                    border-radius: 10px;

                    height: 100px;
                    width: 150px;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    position: relative;

                    @include mobile {
                        height: 75px;
                        width: 125px;
                    }
                    button {
                        color: $outline_color2;
                        background-color: white;
                        font-size: 0.8rem;
                        font-weight: 600;

                        border: 4 solid black;
                        border-radius: 50%;

                    }
                    #fouls1-button1 {
                        position: absolute; top: 20px; right: 20px;
                        padding:3px;
                    }
                    #fouls1-button2 {
                        position: absolute; bottom: 20px; right: 20px;
                        padding:3px;
                    }
                    #fouls2-button1 {
                        position: absolute; top: 20px; right: 20px;
                        padding:3px;
                    }
                    #fouls2-button2 {
                        position: absolute; bottom: 20px; right: 20px;
                        padding:3px;
                    }
                }
            }

            @include mobile {
                #shot-clock-section {
                    order: -1;
                    grid-column: span 2;
                }
            }
        }
    }
}

